@import ~bulma/sass/utilities/initial-variables
@import ~bulma/sass/utilities/functions

// 2. Set your own initial variables
// https://bulma.io/documentation/overview/customize/

@import bulma

html,
body,
#app
    height: 100%
    width: 100%
    background: $white-ter

.page-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    min-height: 50%
    padding: 1em
    h1
        font-weight: bold
    section
        border: .1em solid grey;
        padding: 2em
